# Ignore wp-config.php and .htaccess
wp-config.php
.htaccess

# Ignore the wp-content directory
/wp-content


# Don’t ignore plugins dir, but ignore everything inside
!/wp-content/plugins
/wp-content/plugins/*

# Don’t ignore akismet plugin
#!/wp-content/plugins/akismet

# Don’t ignore themes dir, but ignore everything inside
!/wp-content/themes
/wp-content/themes/*

# Don’t ignore akismet plugin
#!/wp-content/themes/sometheme
